.container {
  position: relative;

  padding: 20px;

  overflow: hidden;
  display: grid;
  grid-template-rows: max-content 1fr;

  background-color: white;
}

.body {
  position: relative;

  overflow: hidden;
  display: grid;
}